@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #3D3D3D;
    --foreground: #FFFAEC;
    --container-background: #F5ECD5;
    --button-background: #171717;
    --button-foreground: #ededed;
    --button-hover: #2e2e2e;

    --accent: #578E7E;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}